.QCtmNavigationBar #mainMenu {
    qproperty-icon: url(:/QCustomUi/Resources/MainMenu-light.png);
}

.QCtmNavigationBar #userAction
{
    qproperty-icon: url(:/QCustomUi/Resources/people-light.png);
}

#messageBarControlBtn {
    qproperty-icon: url(:/Images/Resources/images/hideButton-statusbar.png);
}